@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Placeholder login page.</h1>
    <div>A following iteration would have a login page here that protects the data.</div>
</div>
